* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: #414040;
  margin-top: 100px;
}

.calculator {
  display: grid;
  width: 350px;
  height: 600px;
  padding: 6px;
  border-radius: 5px;
  background-color: rgb(32, 32, 32);
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}
.calculator__items {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-row: 2/4;
  grid-column: 1/2;
  gap: 3px;
}
.calculator__btn {
  border-radius: 5px;
  font-size: 2.5rem;
  color: white;
  border: none;
}
.calculator__btn-numb {
  background-color: rgb(59, 59, 59);
}
.calculator__btn-numb:hover {
  background-color: rgb(50, 50, 50);
}
.calculator__btn-func {
  background-color: rgb(50, 50, 50);
}
.calculator__btn-func:hover {
  background-color: rgb(59, 59, 59);
}
.calculator__btn-sum {
  font-size: 3.5rem;
  color: black;
  background-color: rgb(118, 185, 237);
}
.calculator__btn-sum:hover {
  background-color: rgb(109, 169, 216);
}
.calculator__display {
  grid-row: 1/2;
  grid-column: 1/2;
}
.calculator__content {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}
.calculator__content-history {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}
.calculator__content-history-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 3rem;
  background-color: rgb(32, 32, 32);
  color: white;
  border: none;
  padding: 3px 8px;
  border-radius: 5px;
}
.calculator__content-history-btn:hover {
  background-color: rgb(50, 50, 50);
}
.calculator__content-input {
  position: relative;
  grid-column: 1/2;
  grid-row: 2/3;
}
.calculator__content-input-p {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 2rem;
  margin-bottom: 0;
  margin-right: 2.5rem;
  color: gray;
}
.calculator__content-output {
  position: relative;
  grid-column: 1/2;
  grid-row: 3/5;
}
.calculator__content-output-p {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 4rem;
  margin-bottom: 1.5rem;
  margin-right: 0.5rem;
  color: white;
}
.calculator__content-memory {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column: 1/2;
  grid-row: 5/6;
  margin-bottom: 3px;
}
.calculator__content-memory-btn {
  color: white;
  background-color: rgb(32, 32, 32);
  border: none;
  border-radius: 5px;
}
.calculator__content-memory-btn:hover {
  background-color: rgb(50, 50, 50);
}
.calculator__content-memory-btn-MC, .calculator__content-memory-btn-MR, .calculator__content-memory-btn-MS, .calculator__content-memory-btn-M {
  color: rgb(95, 95, 95);
}
.calculator__history {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(50, 50, 50);
  z-index: 99;
  visibility: hidden;
}
.calculator .visible {
  visibility: visible;
}/*# sourceMappingURL=main.css.map */