$color-bgc: rgba(32, 32, 32, 255);
$color-btn-numb: rgba(59, 59, 59, 255);
$color-btn-func: rgba(50, 50, 50, 255);
$color-btn-sum: rgba(118, 185, 237, 255);
$color-btn-sum-hover: rgba(109, 169, 216, 255);
$white: white;
